<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <dir>
    <h1>
      个人描述：<span id="name"></span>
    </h1>
  </dir>
  <script>
    
  const name = document.querySelector('#name')


  fetch('/getUserInfo').then(res=>{
    return res.json()
  }).then(res => {
    name.innerHTML = res.userinfo.person
  })
  </script>
</body>
</html>